.blogs-error {
    text-align: center;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
    color: #fff;
    background-color : transparent;
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0.5) !important;
}