<div class="blogs-blogs">
    <h1 class="jumbotron">Blogs</h1>
    <div class="alert alert-success" *ngIf="message">{{ message }}</div>
    <div class="container">
      <div class="blogs-row row">
        <div class="col-sm-4" *ngFor="let blog of blogs">
          <div class="card">
            <div class="card-body">
              <img
                class="card-img-top"
                src="{{ blog.imageUrl }}"
                alt="Blog Image"
              />
              <h3 class="card-title truncate">{{ blog.title }}</h3>
              <h6>By: {{ blog.username }}</h6>
              <div class="content">
                <span class="truncate">{{ blog.description }}</span>
              </div>
              <div class="row">
                <button
                  (click)="viewBlog(blog.id)"
                  class="btn  blog-btn-view col-sm-12"
                >
                  View
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  